*{margin:0;
	padding: 0}
h1,header,h2,text{font-family: 'Cookie', cursive;
		font-size: 40px;
		text-align:center;
		color:#2C3E50;
	}
h3{ font-family: 'Cookie', cursive;
		font-size: 30px;
		text-align:left;
		color:#2C3E50;
}
	
h4{	text-align:left;
	color:#12021;
	font-size:15px;
	font-family:georgia;
}
h5{font-family: 'Cookie', cursive;
        font-size: 30px;
        text-align:center;
        color:#2C3E50;
    }
span{color:#C25396;
	text-shadow: 3px 3px black;
}
body {
    background-color:#779BF0;
}

div.container{	
	height:auto;
	text-align: center;
	background-color:#BADEB2;
}
a.link{margin-left: 20px;
		color:#1C2021;
		font-size:35px;
		font-family:'Cookie', cursive;		
	}

div.img{
	text-align: center;
}
footer{ 
    clear:both;
    bottom:0;
    font-size: 15px;
    height: 20px;
    width: 100%;
    text-align:center;
}

.banner{ 
	background-image: url('banespa1.jpg');
    background-repeat: no-repeat;
    background-attachment: float;
    background-position: center; 
	width: 100%;
    max-width: 900px;
    height: 380px;
}
.banner-2{ border-radius: 50%;
            text-align: center;
            height: 170px;
            width: 170px;
}
.banner-3{  text-align: center;
            height: 170px;
            width: 170px;
                    }
p {     font-family: georgia;
        background-color: #FFDE49;
        text-align: justify;
        margin: 10px;
    	padding: 10px; 	
        height: 180px;
        width: 350px;
        float:left;
    }
@media print {
body {
        margin: 1cm;
}
p{
	font-family:monospace;
}
/* Framework "na mão" */

.row {
    clear: both;
    width: 100%;
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-1 { width: 8.33%; }
    .col-lg-2 { width: 16.66%; }
    .col-lg-3 { width: 25%; }
    .col-lg-4 { width: 33.33%; }
    .col-lg-5 { width: 41.66%; }
    .col-lg-6 { width: 50%; }
    .col-lg-7 { width: 58.33%; }
    .col-lg-8 { width: 66.66%; }
    .col-lg-9 { width: 75%; }
    .col-lg-10 { width: 83.33%; }
    .col-lg-11 { width: 91.66%; }
    .col-lg-12 { width: 100%; }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-1 { width: 8.33%; }
    .col-md-2 { width: 16.66%; }
    .col-md-3 { width: 25%; }
    .col-md-4 { width: 33.33%; }
    .col-md-5 { width: 41.66%; }
    .col-md-6 { width: 50%; }
    .col-md-7 { width: 58.33%; }
    .col-md-8 { width: 66.66%; }
    .col-md-9 { width: 75%; }
    .col-md-10 { width: 83.33%; }
    .col-md-11 { width: 91.66%; }
    .col-md-12 { width: 100%; }
}
@media (min-width: 767px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-pq-1 { width: 8.33%; }
    .col-pq-2 { width: 16.66%; }
    .col-pq-3 { width: 25%; }
    .col-pq-4 { width: 33.33%; }
    .col-pq-5 { width: 41.66%; }
    .col-pq-6 { width: 50%; }
    .col-pq-7 { width: 58.33%; }
    .col-pq-8 { width: 66.66%; }
    .col-pq-9 { width: 75%; }
    .col-pq-10 { width: 83.33%; }
    .col-pq-11 { width: 91.66%; }
    .col-pq-12 { width: 100%; }
}
div.gallery {
    border: 1px solid #ccc;
    text-align: center;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 350px;
    height: 200px;

.photo-1{
    text-align: center 20px;
    padding-left: 30px;
 }   
}
div.desc{
    margin: 15 20 20 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 80%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

